
.control-button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.control-button-container {
  display: inline-block;
}

.counter-container {
  font-family: 'Open 24 Display St', sans-serif !important;
}

.led {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.led-red {
  background-color: rgb(180,0,0);
}