
.control-button {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.control-button-container {
  display: inline-block;
}

.control-button-container > div {
  font-family: cursive;
}

.counter-container {
  font-family: 'Open 24 Display St', sans-serif !important;
}

.led-container {
  text-align: center;
}

.led {
  margin: 0 auto;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
}

.led-red {
  background-color: #770000;
}

.led-red-activated {
  background-color: #ff0000;
}

.control-button-top {
  height: 15px;
}

.control-button-middle {
  height: 20px;
}

.control-button-bottom {
  font-family: 'Oswald', sans-serif !important;
  height: 20px;
}

.score-counter {
  height: 30px;
  font-size: 30px;
  font-family: 'VT323', monospace !important;
  color: red;

  border-radius: 2px;
  border-style: solid;
  border-color: black;
  background-color: #330000;
}