.simon-container {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    height: 380px;
    width: 380px;
    margin: 30px auto;
    background-color: #222222;

    -webkit-box-shadow: 10px 10px 62px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 62px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 62px -6px rgba(0,0,0,0.75);
}

.buttonera-container {
    position: relative;
    top: -130px;
    z-index: 3;
}